body {
  background: #f4f6fc;
  
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #3F436B;
    color: #fff;
    opacity: 0.6;
  }
}

.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 360px;
  height: 780px;
  background: #D0E4F5 url("./Buenoboyz.jpg") no-repeat scroll 0 0;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
  
  &:before, 
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  i,
  b,
  span {
    position: absolute;
    display: block;
    color: transparent;
  }


h1,
li,
ol,
label {
  color: black;
}

h1 {
  top: 50px;
  color: #444444;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #444444;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 50px;
  font-weight: 100;
  padding-top: 30px;
}

.complete {
  text-decoration: line-through;
}




